%h1 Change user data
=form_for(@resource, html: { class:'form-horizontal user_form'}) do |f|
  .form-group-lg
    -%w(first_name last_name p_first_name p_last_name email phone adult accept_r accept_m ).each do |field|
      %label
        %span= field+':'
        = render 'shared/scaffold/field', f: f, field: field, resource: @resource
  .form-group-lg
    =image_tag(@resource.signature_stored? ? @resource.signature.url : '')
  .actions
    = f.submit class: 'btn'