%h2 Import
= form_tag resource_import_path, multipart: true do
  %label Podaj plik .csv
  = file_field_tag :file, accept: 'text/csv'
  %span.help-inline Max. 10MB
  = submit_tag "Importuj", class:  "btn blue"
end
%hr
  = link_to 'Back', resources_path, class: 'btn'