%h2 Podgląd Użytkownika
#notice= notice
-resource_class.column_names.each do |field|
  %p #{@resource.send(field)}
%hr
= link_to 'Edit', resource_edit_path(@resource)
= link_to 'Back', resources_path
